.map {
    margin-left: -6%;
}
.map1 {
    left: 50%;width: 36%;bottom: 10%;height: 65%;
}
.contentss2{
	z-index: 9999;
}
#p-lists2 {
    width: 115%;
    left: -10%;
}
.titles3 {
    margin-top: -46%;  
}
.p-lists1 {
    top: -15%;
    left: -70%;
}
.p-lists4 {
    top: -85%;
    left: 105%;
    overflow-y: scroll;
    overflow-x: hidden;
    /*background: #2F518A;*/
    height: 525px;
}
.content-5-1{
	width: 1100px;height: 550px;position: absolute;border: none;z-index: 9999;display:none ;background: #2f2d2dab;
	opacity: 0;top: -200%;left: 50%;margin-top: -300px;margin-left: -760px;
}

#content5-1-shi{
	width: 100%;height: 100%;background: #2f2d2dab;position: absolute;
	opacity: 0;top: -200%;z-index: 9999;overflow-y: scroll;
}
.content5-1-shi{
	width:31%;height: 44%;background: #5e5e5fc4;float: left;margin:7px 10px;
}
#content5-1-zhen{
	width: 100%;height: 100%;background: #2f2d2dab;z-index: 9999;
	overflow-y: scroll;position: absolute;opacity: 0;top: -200%;overflow-y: scroll;
}
.content5-1-zhen{
	width:31%;height: 44%;background: #5e5e5fc4;float: left;margin: 7px 10px;
	
}
.content5-1-shi span,.content5-1-zhen span{
	width: 100px;height: 30px;background: #2f2d2dab;color: white;display: inline-block;
	text-align: center;border-radius: 3px;margin: 10px 0 0 10px;line-height: 30px;
}	
#content-5-1-left{
	width:50%;height: 530px;background: #2f2d2dab; 
	float: right;border: 1px solid #0B3F62;border-radius: 3px;display: none;
	position: relative;right: 0%;top: 0%;z-index: 9999;
}
/*五项*/
#content-5-1-right{
	float: left;width:49%;height: 530px;background: #2f2d2dab;
	border: 1px solid #0B3F62;border-radius: 3px;display:none ;
	position: relative;top: 0%;z-index: 9999;
}
.tubiao{
	width: 48px;height: 48px;float: left;position: relative;
}
 .tubiao img{
	width: 32px;height: 32px;position: absolute;top: 50%;left: 50%;margin-left: -16px;margin-top: -16px;
}
.zhibiao{
	width: 430px;height: 48px;text-align: left;
}	
.t-item {
     line-height: 30px;
}
#content-5-1-left .t-item{
	width: 490px;
	/*height: 70px;*/
}
#content-5-1-left p{
	font-size:12px;-webkit-transform:scale(0.9);
}
.content-5-1 >table  {  
    border-collapse: collapse;  
    margin: 0 auto;  
    text-align: center;      
} 
table tr td,table tr th{
	border-right: none;
} 
 table tr th{     
     background: linear-gradient(#0D4770, #000103);
     border: none;
}  
.content-5-1 table tr:nth-child(odd){  
    /*background: #1867A2;*/
   background: #5e5e5fc4; 
}  
 .content-5-1 table tr:nth-child(even){  
    /*background: #245C96;*/  
    background: #50505287;  
}
.t-list {
    width: 100%;
    height: 90%;
    text-align: left;
    color: #fff;
    text-align: center;
}
#cunreason{
	background: #e2e58b;
	color:black;
	display: block;
    width: 490px;
    border-radius: 5px;
    font-size: 26px;
    height: 90px;
    margin: 0 auto;
    margin-top: 25px;
    /* line-height: 60px; */
}
.t-list .itme-des {
    margin-top: 10px;
    /*height: 70px;*/
}	
.content-1,.content-2,.content-3,.right-1,.right-2,.right-3{
			/*background: #123966;*/
			background: #2f2d2dab;;
			/*background: #12396638;*/
}
#ger{
	text-align: center;
}
